receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  logging:
    loglevel: debug

  prometheus:
    endpoint: "0.0.0.0:8888"

  jaeger:
    endpoint: "jaeger:14250"
    tls:
      insecure: true

  seq:
    endpoint: "http://seq:5341"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, jaeger]

    metrics:
      receivers: [otlp]
      exporters: [prometheus]