@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    @if (context.InnerException is not null)
                    {
                        @* Here we are interested in exceptions that are re-thrown from catch block *@
                        @* Exception message contains the class and method names where exception occured *@
                        <p>Exception message: @context.Message</p>
                        @* Inner exception message contains message of the exception that breaked application *@
                        <p>Inner exception message: @context.InnerException.Message</p>
                    }
                    else
                    {
                        <p>Exception message: @context.Message</p>
                    }
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private ErrorBoundary? _errorBoundary;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}